:root {
  --dark-background-color-one: #121212;
  --dark-background-color-two: #1f1f1f;

  --red-ligth-one: #c23c3c;
  --red-ligth-two: #d45959;

  --pink-light-one: #ff375f;

  --blue-light-one: #6FB2D2;

  --link-color-one-light: #d26f9f;

  --higlight-color-one: #01445c
}
